<footer class="footer">
  <div class="container">
    <a href="../index.html" class="footer-logo">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="footer-icon">
        <mask id="a" width="18" height="18" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">
          <path fill="#000"
            d="M0 14.412 4.06 18h11.912l1.705-2.396L.002 14.412H0ZM10.489 0v14.305l5.481.377L10.49 0Zm-.747 2.41-7.92 11.27 7.92.536V2.41Z" />
        </mask>
        <g mask="url(#a)">
          <path fill="url(#b)" d="M0 0h18v18H0V0Z" />
        </g>
        <defs>
          <linearGradient id="b" x1="7.665" x2="16.858" y1="0" y2=".348" gradientUnits="userSpaceOnUse">
            <stop stop-color="#BEC7C2" />
            <stop offset="1" stop-color="#A1B5BA" />
          </linearGradient>
        </defs>
      </svg>
      <span class="footer-logo-text">yacht Adventures</span>
    </a>
    <ul class="footer-nav-list">
      <li class="footer-nav-items">
        <a class="footer-nav-link" href="#about">About</a>
      </li>
      <li class="footer-nav-items">
        <a class="footer-nav-link" href="#yachts">Yachts</a>
      </li>
      <li class="footer-nav-items">
        <a class="footer-nav-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="footer-networks-wrap">
      <p class="footer-networks-text">We in social</p>
      <ul class="footer-networks-list">
        <li class="footer-networks-items">
          <a class="footer-networks-link" href="http://facebook.com" target="_blank" rel="noopener noreferrer">
            <svg class="footer-networks-icon" width="18" height="18">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-networks-items">
          <a class="footer-networks-link" href="http://instagram.com" target="_blank" rel="noopener noreferrer">
            <svg class="footer-networks-icon" width="18" height="18">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-networks-items">
          <a class="footer-networks-link" href="http://youtube.com" target="_blank" rel="noopener noreferrer">
            <svg class="footer-networks-icon" width="18" height="18">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-text">&copy; 2023. Yacht Adventures</p>
      <a class="footer-copyright-link" href="http://" target="_blank" rel="noopener noreferrer">Privacy Police</a>
    </div>
  </div>

</footer>