<section class="hero-section">
    <div class="hero-container container">
        <h1 class="hero-title">
            Explore the High Seas with <span class="title-part">Our Luxury Yacht</span> Rentals
        </h1>
        <p class="hero-text">
            Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.
        </p>
        <div class="hero-controls">
            <button class="btn accent-btn" type="button">Get Started</button>
            <a class="btn primary-btn" href="#">Explore</a>
        </div>
        <div class="mask-container">
            <div class="clients-container">
                <ul class="list clients-list">
                    <li>
                        <img 
                            class="client-img" 
                            srcset="
                                ./img/hero-images/client-1mob@1x.png 1x,
                                ./img/hero-images/client-1mob@2x.png 2x
                            " 
                            alt="client-img" 
                            width="48" 
                            height="48" 
                        />
                    </li>
                    <li>
                        <img 
                            class="client-img" 
                            srcset="
                                ./img/hero-images/client-2mob@1x.png 1x,
                                ./img/hero-images/client-2mob@2x.png 2x
                            " 
                            alt="client-img" 
                            width="48" 
                            height="48" 
                        />
                    </li>
                    <li>
                        <img 
                            class="client-img" 
                            srcset="
                                ./img/hero-images/client-3mob@1x.png 1x,
                                ./img/hero-images/client-3mob@2x.png 2x
                            " 
                            alt="client-img" 
                            width="48" 
                            height="48" 
                        />
                    </li>
                </ul>
                <p class="clients-text">
                    OUR CLIENTS
                </p>
            </div>
            <img 
                class="yaht-img" 
                srcset="
                    ./img/hero-images/yaht-mob@1x.png 1x,
                    ./img/hero-images/yaht-mob@2x.png 2x
                " 
                alt="yaht" 
                width="287" 
                height="167" 
            />
            <div class="description-text">
                <p class="yaht-cost">
                    $12M
                </p>
                <p class="description">
                    Book now and make your dream yacht rental a reality
                </p>
            </div>
            <img 
                class="owner-img" 
                srcset="
                    ./img/hero-images/owner-mob@1x.png 1x,
                    ./img/hero-images/owner-mob@2x.png 2x
                " 
                alt="Owner of yaht" 
                width="133" 
                height="133" 
            />
            <div class="elipse"></div>
        </div>
    </div>
</section>