<section class="services" id="services">
  <div class="container services-div">
    <h2 class="services-title">Services title</h2>
    <ul class="services-list">
      <li class="services-li">
        <div class="services-li-position">
          <img
            srcset="
              ./img/services-img/diving-desc@1x.jpg 1x,
              ./img/services-img/diving-desc@2x.jpg 2x
            "
            src="./img/services-img/diving-desc@1x.jpg"
            class="services-img"
            alt="the man under water"
            width="335"
            height="335"
          />
          <button type="button" class="services-button">Diving</button>
        </div>
      </li>
      <li class="services-li">
        <div class="services-li-position">
          <img
            srcset="
              ./img/services-img/fishing-desc@1x.jpg 1x,
              ./img/services-img/fishing-desc@2x.jpg 2x
            "
            src="./img/services-img/fishing-desc@1x.jpg"
            class="services-img"
            alt="fishing"
            width="335"
            height="335"
          />

          <button type="button" class="services-button">Fishing</button>
        </div>
      </li>

      <li class="services-li">
        <div class="services-li-position">
          <img
            srcset="
              ./img/services-img/sunbathing-desc@1x.jpg 1x,
              ./img/services-img/sunbathing-desc@2x.jpg 2x
            "
            src="./img/services-img/sunbathing-desc@1x.jpg"
            class="services-img"
            alt="beach umbrellas"
            width="335"
            height="335"
          />
          <button type="button" class="services-button">Sunbathing</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="linear-gradient-div"></div>
</section>
