.reviews-title {
  color: var(--white, #f6f5ef);
  display: block;
  width: 335px;
  height: auto;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .reviews-title {
    width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
    margin-bottom: 32px;
    align-self: flex-start;
  }
}

.reviews-heading-accent {
  color: --linear-green;
  font-style: italic;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews-desc {
  display: block;
  width: 335px;
  height: auto;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .reviews-desc {
    width: 273px;
    font-size: 16px;
    font-height: 140%;
    letter-spacing: -0.32px;
    align-self: flex-end;
    margin-bottom: 64px;
  }
}
.reviews-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .reviews-list {
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-list {
    gap: 32px;
  }
}
.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  padding: 24px 19px 24px 21px;
  border-radius: 24px;
  background: var(--bg-colo-card);
}
@media only screen and (min-width: 768px) {
  .reviews-item {
    width: 344px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-item {
    width: 384px;
    padding: 32px;
  }
}
.reviews-item:not(:first-child) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .reviews-item:not(:last-child) {
    display: flex;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-item:last-child {
    display: flex;
  }
}
.reviews-photo {
  width: 48px;
  height: 48px;
  margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
  .reviews-photo {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
  }
}
.reviews-name {
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.81px;
  color: var(--white);
  text-align: center;
}
.reviews-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.24px;
  color: var(--secondary-color);
  text-align: center;
  align-self: stretch;
  line-height: 140%;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .reviews-text {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}

.reviews-heading {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1280px) {
  .reviews-heading {
    flex-direction: row;
    justify-content: space-between;
  }
}
.reviews-section {
  padding-top: 40px;
  padding-bottom: 53.5px;
}
@media only screen and (min-width: 768px) {
  .reviews-section {
    padding-top: 50px;
    padding-bottom: 72.5px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}
