.services {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;

    }
}

@media only screen and (min-width: 1280px) {
    .services {
        padding-top: 82px;
        padding-bottom: 82px;
    }
}


.services-img {
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -15.345px 0px / 123.898% 100% no-repeat;
    width: 335px;
    height: 335px;
}

@media only screen and (min-width: 768px) {
    .services-li:nth-child(1) .services-img {
        width: 704px;
        height: 632px;
    }

    .services-li:nth-child(2) .services-img {
        width: 400px;
        height: 389px;
    }

    .services-li:nth-child(3) .services-img {
        width: 380px;
        height: 352px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-li:nth-child(1) .services-img {
        width: 712px;
        height: 632px;
    }

    .services-li:nth-child(2) .services-img {
        width: 440px;
        height: 428px;
    }

    .services-li:nth-child(3) .services-img {
        width: 436px;
        height: 352px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .services-li:nth-child(2) {
        display: flex;
        justify-content: end;
    }

    .services-li:nth-child(3) {
        display: flex;
        padding-left: 64px;
    }
}


@media only screen and (min-width: 768px) {
    .services-li:nth-child(2) .services-li-position {
        position: relative;
    }

    .services-li:nth-child(3) .services-li-position {
        position: relative;
    }
}



.services-button {
    position: absolute;
    bottom: 24px;
    left: 24px;
    padding: 14px 28px;
    color: var(--bg-color-body);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.63px;
    border-radius: 60px;
    background: var(--bg-btm-service);
    border: none;
}

@media only screen and (min-width: 768px) {
    .services-button {
        font-size: 18px;
        letter-spacing: -0.81px;
        line-height: 1.1;
        bottom: 32px;
        left: 32px;
    }
}

.services-li {
    margin-bottom: 24px;
    position: relative;
}

@media only screen and (min-width: 768px) {
.services-li {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
.services-li {
    margin-bottom: 0;
  }
}


@media only screen and (min-width: 1280px) {
    .services-li:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
}


.services-li:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1280px) {
    .services-li:last-child {
        padding-left: 341px;
    }
}


@media only screen and (min-width: 1280px) {
    .services-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px;
    }
}

.services-div {
    position: relative;
}


.linear-gradient-div + .services-div::before,
.services-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #91AFBA;
    filter: blur(100px);
    z-index: 5;
}

.services-div::before {
    top: -30%;
    left: 0;
    width: 414px;
    height: 414px;
    opacity: 0.6;
}

@media only screen and (min-width: 375px) {
    .services-div::after {
        top: 32%;
        left: -50%;
        width: 323px;
        height: 323px;
        opacity: 0.3;
    }
}

@media only screen and (min-width: 768px) {
    .services-div::after {
        opacity: 0.3;
        left: -22%;
        top: 40%;
        width: 414px;
        height: 414px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-div::after {
        opacity: 0.3;
        top: 18%;
        left: -15%;
        z-index: -1;
    }
}