/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./services.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  /*Font*/
  --primary-font: "DM Sans",
      sans-serif;

  

  /*Colors*/
  --primary-color: #F6F5EF;
  --secondary-color: rgda(246, 245,239, 0.50);
  --linear-green: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
  --bg-color-body: #11131F;
  --bg-colo-card: #1F212D;
  --btn-color-text-hover: #93ABAE;
  --bg-btm-service: #F6F5EF;
  --bg-btn-hero: #93ABAE;
  --bg-btn-hero-hover: #88B3B9;
  --bg-btn-up-top: #93ABAE;
  

  /* Other */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/*Common styles*/
body{
    font-family: "DM Sans",
    sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}
/* Base Style for mobille */
.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*  tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/*  desktop screen */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;

  }
}