/*
  |============================
  | YACHT SECTION STYLES
  |============================
*/
.yacht-section {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .yacht-section {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-section {
    padding-bottom: 164px;
  }
}

.yacht-container {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  .yacht-container::before {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 1280px;
    height: 1773px;
    background-image: linear-gradient(
        180deg,
        var(--yacht-bg-gradient),
        var(--yacht-bg-gradient)
      ),
      url(../img/yacht/bg@1x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .yacht-container::before {
      background-image: linear-gradient(
          180deg,
          var(--yacht-bg-gradient),
          var(--yacht-bg-gradient)
        ),
        url(../img/yacht/bg@2x.png);
    }
  }
}

.yacht-blur-ellipse-left {
  position: absolute;
  top: -45px;
  left: -60px;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  transform: rotate(44deg);
  background-color: var(--yacht-blur-ellipse-left);
  opacity: 0.6;
  filter: blur(100px);
  z-index: -1;
}

.yacht-blur-ellipse-right {
  position: absolute;
  top: -30px;
  left: 205px;
  width: 195px;
  height: 195px;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: var(--yacht-blur-ellipse-right);
  opacity: 0.3;
  filter: blur(100px);
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .yacht-blur-ellipse-left {
    position: absolute;
    top: -90px;
    left: 30px;
    width: 399px;
    height: 399px;
    border-radius: 50%;
    transform: rotate(44deg);
    background-color: var(--yacht-blur-ellipse-left);
    opacity: 0.6;
    filter: blur(100px);
    z-index: -1;
  }

  .yacht-blur-ellipse-right {
    position: absolute;
    top: -60px;
    left: 430px;
    width: 304px;
    height: 304px;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color: var(--yacht-blur-ellipse-right);
    opacity: 0.3;
    filter: blur(100px);
    z-index: -1;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-blur-ellipse-left {
    position: absolute;
    top: -60px;
    left: 260px;
    width: 414px;
    height: 414px;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color: var(--yacht-blur-ellipse-left);
    opacity: 0.6;
    filter: blur(100px);
    z-index: -1;
  }

  .yacht-blur-ellipse-right {
    position: absolute;
    top: -60px;
    left: 730px;
    width: 316px;
    height: 316px;
    border-radius: 50%;
    transform: rotate(45deg);
    background-color: var(--yacht-blur-ellipse-right);
    opacity: 0.3;
    filter: blur(100px);
    z-index: -1;
  }
}

@media only screen and (min-width: 768px) {
  .yacht-header-container {
    width: 641px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-header-container {
    width: 882px;
  }
}

.yacht-header {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.045em;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .yacht-header {
    font-size: 70px;
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-header {
    font-size: 100px;
  }
}

.yacht-anchor-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 45px;
  padding: 14px 28px;
  border: 1px solid var(--primary-color);
  border-radius: 60px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.045em;
  margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .yacht-anchor-link {
    width: 155px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-anchor-link {
    margin-bottom: 164px;
  }
}

.yacht-anchor-link:active {
  color: var(--btn-color-text-hover);
  border-color: var(--btn-color-text-hover);
}

@media only screen and (min-width: 1280px) {
  .yacht-anchor-link:focus,
  .yacht-anchor-link:hover {
    color: var(--btn-color-text-hover);
    border-color: var(--btn-color-text-hover);
  }
}

.yacht-list {
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .yacht-list {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-list {
    width: 1094px;
    margin: 164px auto 126px;
  }
}

.yacht-card {
  padding-top: 18px;
  background-color: var(--bg-colo-card);
  border-radius: 24px;
}

.yacht-first-set {
}

@media only screen and (max-width: 767px) {
  .yacht-second-set,
  .yacht-third-set,
  .yacht-fourth-set {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .yacht-card {
    padding-top: 16px;
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media only screen and (max-width: 1279px) {
  .yacht-third-set,
  .yacht-fourth-set {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-card {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }

  .yacht-fourth-set {
    display: none;
  }
}

.yacht-image {
  display: block;
  margin: 0 auto;
  border-radius: 24px;
}

@media only screen and (max-width: 374px) {
  .yacht-image {
    max-width: 100%;
    height: auto;
    padding: 0 18px;
  }
}

@media only screen and (min-width: 375px) {
  .yacht-image {
    width: 299px;
    height: 251px;
  }
}

@media only screen and (min-width: 768px) {
  .yacht-image {
    width: 312px;
    height: 268px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-image {
    width: 322px;
  }
}

.yacht-card-desc {
  padding: 24px;
}

@media only screen and (min-width: 768px) {
  .yacht-card-desc {
    padding: 32px;
  }
}

.yacht-card-desc-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .yacht-card-desc-top {
    margin-bottom: 32px;
  }
}

.yacht-card-name {
  max-width: 180px;
  max-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}

.yacht-list-name {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  opacity: 0.5;
  text-transform: uppercase;
}

.yacht-card-desc-bottom {
  display: flex;
  gap: 32px;
}

.yacht-left-param {
  text-transform: uppercase;
}

.yacht-param-card {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.yacht-param-card:not(:last-child) {
  margin-bottom: 6px;
}

.yacht-slider-button-container {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .yacht-slider-button-container {
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .yacht-slider-button-container {
    position: relative;
    bottom: 402px;
    justify-content: space-between;
  }
}

.yacht-slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 60px;
  width: 48px;
  height: 38px;
  background-color: transparent;
  transition: border-color 250ms var(--transition-function);
}

@media only screen and (min-width: 768px) {
  .yacht-slider-button {
    padding: 5px 7px;
    width: 52px;
  }
}

.yacht-slider-button:active {
  border-color: var(--btn-color-text-hover);
}

@media only screen and (min-width: 1280px) {
  .yacht-slider-button:focus,
  .yacht-slider-button:hover {
    border-color: var(--btn-color-text-hover);
  }
}

.yacht-slider-icon {
  fill: var(--primary-color);
  transition: fill 250ms var(--transition-function);
}

.yacht-slider-button:active .yacht-slider-icon {
  fill: var(--btn-color-text-hover);
}

@media only screen and (min-width: 1280px) {
  .yacht-slider-button:focus .yacht-slider-icon,
  .yacht-slider-button:hover .yacht-slider-icon {
    fill: var(--btn-color-text-hover);
  }
}
